*{
    margin:0
}

body{
    height: 100vh;
    padding: 5%;
    box-sizing: border-box;
    background: 
    linear-gradient(45deg,rgb(114, 8, 65),transparent),rgb(248, 180, 171) 
    repeating-linear-gradient(45deg, rgb(240, 95, 76) 0%,rgb(151, 28, 12) 5%,transparent 10%);
    font-family: poiret-one, sans-serif;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 1.5px;
    color: black;
    width: 100%;
}


#root{
    text-align: center;
    width: 100%;
}

#topic-font{
    font-family: 'KgHappy-wWZZ';
    font-size: 3rem;
}


@font-face {
    font-family: 'KgHappy-wWZZ';
    src: url('KgHappy-wWZZ.eot'); /* IE9 Compat Modes */
    src: url('KgHappy-wWZZ.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('KgHappy-wWZZ.woff2') format('woff2'), /* Super Modern Browsers */
         url('KgHappy-wWZZ.woff') format('woff'), /* Pretty Modern Browsers */
         url('KgHappy-wWZZ.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('KgHappy-wWZZ.svg#svgFontName') format('svg'); /* Legacy iOS */
  }


.button-add{
    height:3rem;
    width: 3rem;
    border-radius: 50%;
    border:0;
    background-color: rgb(168, 167, 163);
    margin-left: -2%;
}
.button-add:visited,
.button-add:active,
.button-add:focus-within,
.button-add:hover,
.button-add:focus{
    outline-color: transparent;
    border-color: transparent;}
.button-add:hover{
    transform: scale(1.2);
    transition: all 1s ease;
}

.button-add:focus,.button-add:active{
    outline-color: transparent;
    border-color: transparent;
}

.input{
    border:0;
    background-color: rgba(168, 167, 163);
    padding:10px;
    max-width: 200px;
    border-radius: 2px;
    font-family: poiret-one, sans-serif;
    letter-spacing: 1.5px;
    font-weight: 900;
    margin-bottom: 2rem;
    width: 100%;
  
}



.input:focus{
    outline: transparent;   
}

li {
    animation: slice-li 1s cubic-bezier(0.73,-0.48, 1, 1);
    
}

@keyframes slice-li {
    0% {
        transform: translateX(-900px)
       
    }
   
    70% {
        transform: translateX(20px)
    }
    100% {
        transform: translateX(0px)
    }
  
}


li {
   padding:  10px;
    border-radius: 5px;
   justify-content:space-between;
   display: flex;
   transition: all 2s ease;
    max-width:400px; 
    margin: 0 auto;
}


li:nth-child(even) {
    background-color:rgba(130, 130, 130,0.8)
}


li:nth-child(odd) {
    background-color:rgb(129, 101, 106,0.8);
}

ul {
    list-style-type: none;
    padding-left:0;
    text-align: center;
    width: 100%;
    margin: auto;
   
}

li button{
    margin-left: 20px;
    margin-right: 20px;
}

.isntDone{
    text-decoration: line-through
}

#task{
    padding-top: 6px;
  
}

.button-delete{
    height:1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border:0;
    background-color: rgb(168, 167, 163);
    cursor: pointer;
}

.button-delete:visited,
.button-delete:active,
.button-delete:focus-within,
.button-delete:hover,
.button-delete:focus{
    outline-color: transparent;
    border-color: transparent;}

.button-delete:hover{
  
    transform: scale(1.2);
    transition: all 1s ease;
}

.fa-plus{
    font-size: 1.5em;
}

.fa-times,fa-check{
    font-size: 1.2em;
}

.checkbox{
    height:1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border:0;
    background-color: rgb(168, 167, 163);
    cursor: pointer;
}
.checkbox:visited,
.checkbox:active,
.checkbox:focus-within,
.checkbox:hover,
.checkbox:focus{
    outline-color: transparent;
    border-color: transparent;}
    
.checkbox:hover{
    transform: scale(1.2);
    transition: all 1s ease;
}

@media (orientation: portrait) and (max-width:500px){
    #topic-font{
       
        font-size: 3rem;
    }
    #task{
     
        font-size: 1.2rem;
    }
  }